// src/styles/Resume.less

.resume {
	background-color: #222;
	color: #0f0;
	padding: 20px;
	border-radius: 5px;
	font-family: "Courier New", Courier, monospace;
	overflow-y: auto;
	max-height: 500px;
  }
  